<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>APP Canchas EGG</title>
        <link href="/bootstrap.min.css" rel="stylesheet" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <link href="/navbar-top-fixed.css" rel="stylesheet">
        <link href="/bootstrap.css" rel="stylesheet">
    </head>
    <body background="futbol1.jpg">
        
        <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
            <a class="navbar-brand" href="/">APP Canchas EGG</a>
            <div class="collapse navbar-collapse" id="navbarCollapse">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="/reservas/listado/">Reservas</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/canchas/listado/">Canchas</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/equipos/listado/">Equipos</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/personas/listado/">Jugadores</a>
                    </li>
                </ul>
            </div>
        </nav>
    </body>
</html>